.footer{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #6278f7;
    
}
.footer .redes{
    width: 10%;
    justify-content: space-between;
}
.footer .fb{
    width: 24px;
}
.footer .tw{
    width: 24px;
    margin: 0px 16px;
}
.footer .ig{
    width: 24px;
}
.footer .logo{
    width: 166px;
    margin: 16px 0;
}
.footer h3{
    text-align:right ;
    display: inline-flex;
    text-align: center;
    font-size: 20px;
    color: #fff;
}